body {
    text-align: center;
}

/* make the download show up on the poop */
.poop-text {
    margin-top: .3em;
    color: blanchedalmond;
}

.a2nd {
    margin-top: .5em;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 8em;
    margin: 20px;
    flex: auto;
}
.iconbox{
    align-items: center;
}
/* grid or flexbox? */
/* gotta know: when switch flex to column  */
.box{
    /* horizontal */
    justify-content: center;
    /* virticle */
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
}
/* justify */
.icon2{
    font-size: xx-large;
    margin: 10%;
    flex: auto;
}

.icon3{
    height: 100%;
    font-size: 8em;
    margin: 20px;
    flex: auto;
}

.button {
    z-index: 10;
}

.indexdiv{
    cursor: all-scroll;
    text-align: center;
}

h1{
    display: flex;
    justify-content: space-around;
}

i:hover{
    transform:rotate(-45deg);
    transition: all 1s ease;
}